<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class="blog-nav-item" })
            @Html.ActionLink("Posts", "Index", "posts", null, new { @class = "blog-nav-item" })
            @Html.ActionLink("Usuarios", "Index", "Usuario", null, new { @class = "blog-nav-item" })
        </nav>
    </div>
</div>
